.recipie-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    margin: 10px;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.recipie-container img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.recipie-title {
    margin: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}