.App {
    min-height: 100vh;
    background-image: linear-gradient(#dadada 0%, #e3f7ff 100%);  
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
}

.title-bar a{
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: rgb(100, 65, 65);
    font-size: 2.0rem;
    margin-left: 5%;
    font-weight: bold;
}

.header-body {
    text-align: center;
    background: #857e7e url('./images/head-bg.jpg');
    background-size:cover;
    width: 90%;
    margin-left: 5%;
    align-self: center;
    padding-bottom: 4em;
}

.header-info {
    font-size: 3.5rem;
    color: rgb(172, 123, 123);
    font-weight: bold;
    padding: 1.0rem;
}

.header-info span {
    font-size: 1.5rem;
    display: block;
    position: relative;
    margin-bottom: -0.7rem;
}

.search-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .4);
    margin: 0 3em 0;
    padding: 2em;
    display: flex;
}

.search-bar {
    font-size: 0.8rem;
    text-align: left;
    width:100%;
    padding-right: 1rem;
}

.search-box {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1.2em;
    margin-top: 1.2em;
}

.search-bar p {

    color: grey;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
}

.search-button {
    width: 50%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #d39f5c;
    color: white;
    margin: 1rem 0 2rem 0;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.search-button:hover {
    background-color: #d4bea1;
    font-weight: normal;
}

.recipie-box {
    margin-top: 2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: left;
}